DB_USER=tasknest
DB_PASSWORD=StrongPassword
DB_NAME=tasknest
DB_PORT=5432

DATABASE_URL="postgresql://tasknest:StrongPassword@localhost:5432/tasknest"

AUTH_SECRET=your_secret

NODE_ENV=development


TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234gh...
TELEGRAM_LINK_SECRET=some_random_secret_string

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=@botusename